body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#onboarding {
  background-color: rgba(233, 233, 233, 0.5);
  border-radius: 20px;
  display: none;
  inset: 0;
  height: fit-content;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  width: 500px;
}

#root {
  box-sizing: border-box;
  height: calc(100vh - 100px);
  width: 100%;
}

#search-listbox {
  color: #eeeeee;
}
